@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/**
Thin 100
Extra-light 200
Light 300
Regular 400
Medium 500
Semi-bold 600
Bold 700
Extra-bold 800
Black 900
**/
.dark {
  --fond: #1d1d1d;
  --text: #fbfcff;
  --low: #fbfcff2a;
  --shadow-inset: inset 0px -2px 4px #00000075;
  --shadow-outset: 0px 2px 2px #00000085;
}

.light {
  --fond: #fbfcff;
  --text: #1d1d1d;
  --shadow-inset: inset 2px 2px 8px #0000003b;
  --shadow-outset: 0px 2px 2px #00000091;
  --low: #1d1d1d31;
  --border: 1px solid var(--text);
  --shade: #1d1d1d1f;
}

.body {
  margin: 0 auto;
  padding: 0 auto;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: black;
  color: var(--text);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

* {
  outline: none;
  scroll-behavior: smooth;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/*** scroollbar ***/
*::-webkit-scrollbar {
  width: 0px;
  background: rgba(0, 0, 0, 0) 0% 0% no-repeat padding-box;
}

*::-webkit-scrollbar-button {
  background: rbga(0, 0, 0, 0);
}

*::-webkit-scrollbar-track-piece {
  width: 0px;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(0, 0, 0);
          box-shadow: inset 0 0 6px rgb(0, 0, 0);
  border: none;
  width: 0px;
  background-color: rgba(0, 0, 0, 0);
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
a :hover {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
  max-width: 100%;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
@media all and (max-width: 430px) {
  .main {
    min-width: 100%;
    height: 100vh;
  }
}
.main .struct {
  display: block;
  width: 90%;
  height: 100%;
  overflow: hidden;
}

.face {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 800px;
  height: 400px;
}
@media all and (max-width: 1000px) {
  .face {
    width: 100%;
    height: auto;
  }
}
.face .eye {
  width: 18em;
  height: 18em;
  border-radius: 50%;
  background: white;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.face .eye:last-child {
  margin-left: 5em;
  position: relative;
  -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
  border-radius: 50%;
}
@media all and (max-width: 1000px) {
  .face .eye:last-child {
    width: 230px;
    height: 230px;
    -webkit-mask: unset;
            mask: unset;
    border-radius: 50%;
  }
}
@media all and (max-width: 700px) {
  .face .eye:last-child {
    width: 8em;
    height: 8em;
  }
}
@media all and (max-width: 500px) {
  .face .eye:last-child {
    width: 5em;
    height: 5em;
    margin-left: 2em;
  }
}
@media all and (max-width: 1000px) {
  .face .eye {
    width: 230px;
    height: 230px;
    -webkit-mask: unset;
            mask: unset;
    border-radius: 50%;
  }
}
@media all and (max-width: 700px) {
  .face .eye {
    width: 8em;
    height: 8em;
  }
}
@media all and (max-width: 500px) {
  .face .eye {
    width: 5em;
    height: 5em;
  }
}
.face .eye .cristalin {
  width: 25%;
  height: 25%;
  border-radius: 50%;
  background: black;
  -webkit-transform: translateX(0%) translateY(20%);
          transform: translateX(0%) translateY(20%);
}
.face .eye .paupiere {
  width: 100%;
  height: 90%;
  background: black;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: 0%;
  -webkit-transform: translateY(-100%) translateX(0%);
          transform: translateY(-100%) translateX(0%);
}