// color
$theme: #194056;
//polices
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/**
Thin 100
Extra-light 200
Light 300
Regular 400
Medium 500
Semi-bold 600
Bold 700
Extra-bold 800
Black 900
**/
.theme {
  --theme: #424556;
  --text: #fbfcff;
}

.body {
  margin: 0 auto;
  padding: 0 auto;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background: var(--theme);
  color: var(--text);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

* {
  outline: none;
  scroll-behavior: smooth;
}

// scroll bar

/*** scroollbar ***/
*::-webkit-scrollbar {
  width: 0px;
  background: rgba(0, 0, 0, 0) 0% 0% no-repeat padding-box;
}

*::-webkit-scrollbar-button {
  background: rbga(0, 0, 0, 0);
}

*::-webkit-scrollbar-track-piece {
  width: 0px;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
  border: none;
  width: 0px;
  background-color: rgba(0, 0, 0, 0);
}

//link init
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;

  :hover {
    display: inline-block;
    text-decoration: none;
    color: inherit;
  }
}

.main {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  .image_fond {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 0;
    }
  }

  .main_struct {
    width: 97%;
    height: 94%;
    background: rgba(255, 0, 0, 0);
    position: fixed;
    justify-content: space-between;
    top: 50%;
    left: 50%;
    display: flex;
    transform: translate(-50%, -50%);
  }
}

.filter_bg {
  &::after {
    position: absolute;
    top: 0;
    content: " ";
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent
      radial-gradient(closest-side at 50% 50%, #00000038 0%, #00000081 100%) 0%
      0% no-repeat padding-box;
    z-index: 1;
  }
}

.welcome_side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  // align-items: s;
  max-width: 600px;
  width: 50%;
  background: rgba(0, 128, 0, 0);
  height: 100%;

  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    align-items: center;

    .hi_ico {
      display: block;
      width: 3vw;
      margin-bottom: 20px;
      img {
        width: 100%;
      }
    }

    .intro_title {
      display: block;
      text-align: center;
      width: 100%;
      .text {
        display: inline-block;
        width: 100%;
        text-align: center;
      }
      .t1 {
        font: normal normal 100 3vw Poppins;
        letter-spacing: 0px;
      }

      .t2 {
        font: normal normal 100 1.7vw Poppins;
      }
    }

    .date_container {
      display: block;
      text-align: center;
      width: 100%;
      margin-top: 3vh;
      .time {
        font: normal normal 100 8.5vw/10vw Poppins;
      }
      .date_calendar {
        display: block;
        text-align: center;
        font: normal normal 100 3.6vw Poppins;
      }
    }
  }

  .citation {
    display: block;
    text-align: left;
    width: 100%;
    margin-top: 3vh;
    font: italic normal 300 1.05vw Poppins;
    letter-spacing: 0px;
    color: #ffffff;

    .text{
      opacity: 0.8;
    }

    .autor {
      font-style: normal;
      opacity: 1 !important;
      font-weight: 500;
      margin-top: 4px;
    }
  }
}

.chat_side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  background: #282a378f 0% 0% no-repeat padding-box;
  // background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 6px solid #00000021;
  border-radius: 32px;
  // opacity: 0.14;
  backdrop-filter: blur(10px);

  .chat_side_struct {
    display: block;
    width: 95%;
    height: 95%;
    border-radius: 12px;
    position: relative;

    .tools {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: flex-start;

      .online_box {
        display: flex;
        justify-content: center;
        align-items: center;

        .circle {
          width: 55px;
          height: 55px;
          border: 1px solid #ffffff;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          &::after {
            position: absolute;
            top: 0;
            right: 0;
            content: " ";
            width: 12px;
            height: 12px;
            background: #20db58 0% 0% no-repeat padding-box;
            border: 2px solid var(--text);
            border-radius: 50%;
          }

          .line_ico {
            width: 80%;
            height: 80%;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: var(--theme);
            color: var(--text);
            img {
              width: 70%;
            }
          }
        }

        .text_online {
          display: block;
          margin-left: 10px;
          letter-spacing: 0px;
          color: var(--text);
          .t1 {
            font: normal normal normal 20px/20px Poppins;
          }
          .t2 {
            margin-top: 3px;
            font: normal normal normal 16px Poppins;
            letter-spacing: 0px;
            opacity: 0.63;
          }
        }
      }

      .switch_theme {
        cursor: pointer;
        user-select: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 64px;
        height: 20px;
        background: var(--theme) 0% 0% no-repeat padding-box;
        border-radius: 50px;
        opacity: 1;
        border: 8px solid var(--theme);

        .ico {
          // background: #194056;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 30px;
          width: 30px;
          border-radius: 50%;
          transform: scale(0.8);
          opacity: 0.6;
          transition: 0.4s;
          img {
            width: 60%;
          }
        }

        .active {
          transition: 0.4s;
          background: #194056;
          transform: scale(1);
          opacity: 1;
          img {
            width: 60%;
          }
        }
      }
    }

    .chat_container {
      margin-top: 20px;
      display: flex;

      justify-content: center;
      width: 100%;
      max-height: 75%;

      overflow-y: auto;

      /*** scroollbar ***/

      &::-webkit-scrollbar {
        width: 20px;
        cursor: pointer;
      }

      &::-webkit-scrollbar-track {
        border-radius: 0px;
        -webkit-box-shadow: inset 0 0 0px black;
        box-shadow: inset 0 0 0px black;
        background: -webkit-gradient(
          linear,
          right top,
          left top,
          color-stop(39%, transparent),
          color-stop(#0242223d),
          color-stop(58%, transparent)
        );
        background: linear-gradient(
          to left,
          transparent 39%,
          var(--theme),
          transparent 58%
        );
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 100px;
        border: 6px solid transparent;
        background-clip: content-box;
        background-color: var(--theme);
      }

      .chat_container_struct {
        width: 97%;
        display: block;
        padding-top: 20px;
        .item_msg {
          /* UI Properties */
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          flex-direction: column;
          // width: 100%;
          margin-top: 5px;
          .item_msg_box {
            padding: 18px;
            padding-top: 10px;
            padding-bottom: 10px;
            font: normal normal normal 1em Poppins;
            letter-spacing: 0px;
            color: var(--text);
            max-width: 65%;
            white-space: pre-line;
          }

          .item_msg_box_time {
            font: normal normal normal 12px Poppins;
            letter-spacing: 0px;
            color: #ffffff;
            opacity: 0.59;
            margin-top: 1px;
          }
        }
        .receive {
          .item_msg_box {
            background: #1b8ffa 0% 0% no-repeat padding-box;
            border-radius: 30px 30px 30px 4px;
          }
        }
        .send {
          align-items: flex-end;
          .item_msg_box {
            background: #282a37 0% 0% no-repeat padding-box;
            border-radius: 30px 30px 4px 30px;
          }
        }
      }
    }

    .writting {
      display: block;
      position: absolute;
      bottom: 0px;

      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      .alert_action {
        transition: 0.4s;
        opacity: 0;
        font: normal normal normal 13px Poppins;
        letter-spacing: 0px;
        color: #ffffff;
        padding-top: 4px;
        padding-bottom: 3px;
      }
      .alert {
        transition: 0.4s;
        opacity: 0.59;
      }

      .input_box {
        width: 100%;
        height: 60px;
        box-sizing: border-box;
        border: 10px solid var(--theme);
        background: var(--theme);
        border-radius: 20px;
        display: flex;
        justify-content: space-between;
        textarea {
          padding-left: 10px;
          padding-top: 4px;
          border: none;
          padding-bottom: 4px;
          width: 90%;
          padding-right: 10px;
          color: var(--text);
          font-family: Poppins;
          font-size: 20px;
          height: 50px;
          background: var(--theme) 0% 0% no-repeat padding-box;
          border-radius: 17px;
        }

        .btn_send {
          height: 100%;
          width: 60px;
          background: #282a37;
          border-radius: 15px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          user-select: none;
          img {
            height: 50%;
          }
        }
      }
    }
  }
}
