// color
$theme: #194056;
//polices
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/**
Thin 100
Extra-light 200
Light 300
Regular 400
Medium 500
Semi-bold 600
Bold 700
Extra-bold 800
Black 900
**/

.dark {
  --fond: #1d1d1d;
  --text: #fbfcff;
  --low: #fbfcff2a;
  --shadow-inset: inset 0px -2px 4px #00000075;
  --shadow-outset: 0px 2px 2px #00000085;
}

.light {
  --fond: #fbfcff;
  --text: #1d1d1d;
  --shadow-inset: inset 2px 2px 8px #0000003b;
  --shadow-outset: 0px 2px 2px #00000091;
  --low: #1d1d1d31;
  --border: 1px solid var(--text);
  --shade: #1d1d1d1f;
}

.body {
  margin: 0 auto;
  padding: 0 auto;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: black;
  color: var(--text);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;

  // @media all and (max-width: 430px) {
  //   height: calc(100vh - 50px);
  //   background: var(--fond);
  // }
}

* {
  outline: none;
  scroll-behavior: smooth;
  user-select: none;
}

// scroll bar

/*** scroollbar ***/
*::-webkit-scrollbar {
  width: 0px;
  background: rgba(0, 0, 0, 0) 0% 0% no-repeat padding-box;
}

*::-webkit-scrollbar-button {
  background: rbga(0, 0, 0, 0);
}

*::-webkit-scrollbar-track-piece {
  width: 0px;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
  border: none;
  width: 0px;
  background-color: rgba(0, 0, 0, 0);
}

//link init
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;

  :hover {
    display: inline-block;
    text-decoration: none;
    color: inherit;
  }
}

.main {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  height: 100vh;
  max-width: 100%;
  // background: var(--fond);
  overflow: hidden;
  justify-content: center;
  align-items: center;
  position: relative;

  @media all and (max-width: 430px) {
    min-width: 100%;
    height: calc(100vh);
    // background: var(--fond);
  }

  // @media all and (max-width: 430px) or (max-height: 500px) {
  //   height: calc(100vh);
  // }

  .struct {
    display: block;
    width: 90%;
    height: 100%;
    overflow: hidden;
    // border: 1px solid;
  }
}

.face {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 400px;
  @media all and (max-width: 1000px) {
    width: 100%;
    height: auto;
  }
  $eye_size: 18em;
  .eye {
    width: $eye_size;
    height: $eye_size;
    border-radius: 50%;
    background: white;
    position: relative;
    overflow: hidden;
    // mask: url(../images/eye_left.svg) no-repeat 100%;
    // mask-image: no-repeat;
    // mask-clip: fill-box;
    display: flex;
    justify-content: center;
    align-items: center;



    &:last-child {
      margin-left: 5em;
      position: relative;
      transform: translateY(-30%);
      // mask: url(../images/eye_right.svg) no-repeat 100%;
      // mask-image: no-repeat;
      // mask-clip: fill-box;
      border-radius: 50%;
      @media all and (max-width: 1000px) {
        width: 230px;
        height: 230px;
        mask: unset;
        border-radius: 50%;
      }

      @media all and (max-width: 700px) {
        width: 8em;
        height: 8em;
      }

      @media all and (max-width: 500px) {
        width: 5em;
        height: 5em;
        margin-left: 2em;
      }
      
    }

    @media all and (max-width: 1000px) {
      width: 230px;
      height: 230px;
      mask: unset;
      border-radius: 50%;
    }

    @media all and (max-width: 700px) {
      width: 8em;
      height: 8em;
    }

    @media all and (max-width: 500px) {
      width: 5em;
      height: 5em;
    }

    .cristalin {
      width: 25%;
      height: 25%;
      border-radius: 50%;
      background: black;
      transform: translateX(0%) translateY(20%);
    }

    .paupiere {
      width: 100%;
      height: 90%;
      background: black;
      border-radius: 50%;
      position: absolute;
      top: 0px;
      left: 0%;
      transform: translateY(-100%) translateX(0%);
    }
  }
}
